<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals!</title>
</head>
<body>
  <p>5aca617851643b418412cd6b</p>
  <a href="/">Home</a>
  <a href="/animals/new">Add_New</a>
  <a href="/animals/<%= animal.id %>/edit">Edit</a>
  <a href="/animals/<%= animal.id %>/destroy">Delete</a>
  <h1>Check out THIS animal!</h1>
  <p>Name: <%= animal.name %></p>
  <p>Type: <%= animal.type %></p>
  <p>Favorite Food: <%= animal.food %> </p>
</body>
</html>